<!-- make sure you change vairable names ERASE THIS ONLY AND ONLY AFTER YOU CREATED DB AND TRIPPLE CHECKED VARIABLE NAMES -->

<body>
    <script src="/js/gen-quotes.js"></script>
    <div class="logout-container">
        <h1>You've successfully logged out!</h1>
        <p>We hope to see you again soon.</p>
        <a href="/login" class="btn">Login Again</a>
        <a href="/" class="btn">Go to Home</a>
    </div>
</body>


