<!-- make sure you change vairable names ERASE THIS ONLY AND ONLY AFTER YOU CREATED DB AND TRIPPLE CHECKED VARIABLE NAMES -->
 
<!DOCTYPE html>
<html lang="en">
<body>
    <main>
        <section>
            <h2>Personal Information</h2>
            <p><strong>Name:</strong> <%= user.name %></p>
            <p><strong>Email:</strong> <%= user.email %></p>
            <p><strong>Joined:</strong> <%= user. %></p>
        </section>
    </main>
</body>
</html>
