<% if (error_mesg) { %>
    <div class="alert alert-danger"><%= error_mesg %></div>
<% } %>

<% if (success_mesg) { %>
    <div class="alert alert-success"><%= success_mesg %></div>
<% } %>
<script src="../utils/validation.js"></script> <!-- Make sure this path matches your public directory structure -->

<div class="signup-container">
    <h1>Create an Account</h1>
    <form action="/register" method="POST" onsubmit="return validatePasswords()">
        <div class="form-group">
            <label for="given_name">First Name:</label>
            <input type="text" id="given_name" name="given_name" required>
        </div>
        <div class="form-group">
            <label for="family_name">Last Name:</label>
            <input type="text" id="family_name" name="family_name" required>
        </div>
        <div class="form-group">
            <label for="dob">Date of Birth:</label>
            <input type="date" id="dob" name="dob" required>
        </div>
        <p>The email will be your username!</p>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div class="form-group">
            <label for="confirmPassword">Confirm Password:</label>
            <input type="password" id="confirmPassword" name="confirmPassword" required>
        </div>
        <button type="submit">Sign Up</button>

    </form>
</div>