<% if (error_mesg) { %>
    <div class="alert alert-danger"><%= error_mesg %></div>
<% } %>

<% if (success_mesg) { %>
    <div class="alert alert-success"><%= success_mesg %></div>
<% } %>
<script src="../utils/validator.js"></script> <!-- Make sure this path matches your public directory structure -->

<div class="signup-container">
    <h1>Create an Account</h1>
    <form action="/login" method="POST" onsubmit="return validatePasswords()">
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div class="form-group">
            <label for="confirmPassword">Confirm Password:</label>
            <input type="password" id="confirmPassword" name="confirmPassword" required>
        </div>
        <button type="submit">Sign Up</button>
        <p>Your email will become your username!</p>

    </form>
</div>