<!-- DOUBLE CHECK VARIABLES AND FUNCTIONS -->

<div class="container">
    <h1>Message Submission</h1>
    <p></p>
    <% if (success) { %>
        <p>Your message was successfully sent to the server.</p>
    <% } else { %>
        <p>There was an error sending your message to the server. Please try again.</p>
    <% } %>
</div>

<!-- add generated quotes here as well for submissions -->